<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classBooleanResultMapper" kind="class" language="C++" prot="public">
    <compoundname>BooleanResultMapper</compoundname>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classBooleanResultMapper_1a000f02ff27695b148c600f1c0ac2a3a8" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>BooleanResultMapper::BooleanResultMapper</definition>
        <argsstring>()</argsstring>
        <name>BooleanResultMapper</name>
        <qualifiedname>BooleanResultMapper::BooleanResultMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="583" column="3"/>
      </memberdef>
      <memberdef kind="function" id="classBooleanResultMapper_1a793309e82debbd59568a266d566890f1" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classFaceBitSet" kindref="compound">FaceBitSet</ref></type>
        <definition>FaceBitSet BooleanResultMapper::mapFaces</definition>
        <argsstring>(FaceBitSet oldBS, BooleanMapObject obj)</argsstring>
        <name>mapFaces</name>
        <qualifiedname>BooleanResultMapper::mapFaces</qualifiedname>
        <param>
          <type><ref refid="classFaceBitSet" kindref="compound">FaceBitSet</ref></type>
          <declname>oldBS</declname>
        </param>
        <param>
          <type><ref refid="bindings_8d_8mts_1acfc8242cf3b00cc8d667c8efb6434aab" kindref="member">BooleanMapObject</ref></type>
          <declname>obj</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="584" column="14"/>
      </memberdef>
      <memberdef kind="function" id="classBooleanResultMapper_1a599f805a9784316a0689ad75be8cdd4e" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classVertBitSet" kindref="compound">VertBitSet</ref></type>
        <definition>VertBitSet BooleanResultMapper::mapVerts</definition>
        <argsstring>(VertBitSet oldBS, BooleanMapObject obj)</argsstring>
        <name>mapVerts</name>
        <qualifiedname>BooleanResultMapper::mapVerts</qualifiedname>
        <param>
          <type><ref refid="classVertBitSet" kindref="compound">VertBitSet</ref></type>
          <declname>oldBS</declname>
        </param>
        <param>
          <type><ref refid="bindings_8d_8mts_1acfc8242cf3b00cc8d667c8efb6434aab" kindref="member">BooleanMapObject</ref></type>
          <declname>obj</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="585" column="14"/>
      </memberdef>
      <memberdef kind="function" id="classBooleanResultMapper_1a717b3f81e6ce08a1dd13f4d43c5490b3" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classFaceBitSet" kindref="compound">FaceBitSet</ref></type>
        <definition>FaceBitSet BooleanResultMapper::newFaces</definition>
        <argsstring>()</argsstring>
        <name>newFaces</name>
        <qualifiedname>BooleanResultMapper::newFaces</qualifiedname>
        <briefdescription>
<para>Returns only new faces that are created during boolean operation. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="589" column="14"/>
      </memberdef>
      <memberdef kind="function" id="classBooleanResultMapper_1a60b2ea4c1220487cffb1a328e47f1ff8" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classFaceBitSet" kindref="compound">FaceBitSet</ref></type>
        <definition>FaceBitSet BooleanResultMapper::filteredOldFaceBitSet</definition>
        <argsstring>(FaceBitSet oldBS, BooleanMapObject obj)</argsstring>
        <name>filteredOldFaceBitSet</name>
        <qualifiedname>BooleanResultMapper::filteredOldFaceBitSet</qualifiedname>
        <param>
          <type><ref refid="classFaceBitSet" kindref="compound">FaceBitSet</ref></type>
          <declname>oldBS</declname>
        </param>
        <param>
          <type><ref refid="bindings_8d_8mts_1acfc8242cf3b00cc8d667c8efb6434aab" kindref="member">BooleanMapObject</ref></type>
          <declname>obj</declname>
        </param>
        <briefdescription>
<para>returns updated oldBS leaving only faces that has corresponding ones in result mesh </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="593" column="14"/>
      </memberdef>
      <memberdef kind="function" id="classBooleanResultMapper_1ada35845c2007dd4ea95229a27e19bc43" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classFaceMap" kindref="compound">FaceMap</ref></type>
        <definition>FaceMap BooleanResultMapper::getNew2OldFaceMap</definition>
        <argsstring>(BooleanMapObject obj)</argsstring>
        <name>getNew2OldFaceMap</name>
        <qualifiedname>BooleanResultMapper::getNew2OldFaceMap</qualifiedname>
        <param>
          <type><ref refid="bindings_8d_8mts_1acfc8242cf3b00cc8d667c8efb6434aab" kindref="member">BooleanMapObject</ref></type>
          <declname>obj</declname>
        </param>
        <briefdescription>
<para>returns map: new_face_id-&gt;old_obj_face_id for faces from </para>
        </briefdescription>
        <detaileddescription>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>obj</parametername>
</parameternamelist>
<parameterdescription>
<para></para>
</parameterdescription>
</parameteritem>
</parameterlist>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="599" column="11"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>Structure to map old mesh BitSets to new. </para>
    </briefdescription>
    <detaileddescription>
<para>Structure to easily map topology of MR::boolean input meshes to result mesh</para>
<para>This structure allows to map faces, vertices and edges of mesh <computeroutput>A</computeroutput> and mesh <computeroutput>B</computeroutput> input of MR::boolean to result mesh topology primitives <simplesect kind="see"><para>MR::boolean </para>
</simplesect>
</para>
    </detaileddescription>
    <location file="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" line="581" column="1" bodyfile="/home/runner/work/MeshLib/MeshLib/MeshLib/scripts/npm/meshlib/bindings.d.mts" bodystart="581" bodyend="600"/>
    <listofallmembers>
      <member refid="classBooleanResultMapper_1a000f02ff27695b148c600f1c0ac2a3a8" prot="public" virt="non-virtual"><scope>BooleanResultMapper</scope><name>BooleanResultMapper</name></member>
      <member refid="classBooleanResultMapper_1a60b2ea4c1220487cffb1a328e47f1ff8" prot="public" virt="non-virtual"><scope>BooleanResultMapper</scope><name>filteredOldFaceBitSet</name></member>
      <member refid="classBooleanResultMapper_1ada35845c2007dd4ea95229a27e19bc43" prot="public" virt="non-virtual"><scope>BooleanResultMapper</scope><name>getNew2OldFaceMap</name></member>
      <member refid="classBooleanResultMapper_1a793309e82debbd59568a266d566890f1" prot="public" virt="non-virtual"><scope>BooleanResultMapper</scope><name>mapFaces</name></member>
      <member refid="classBooleanResultMapper_1a599f805a9784316a0689ad75be8cdd4e" prot="public" virt="non-virtual"><scope>BooleanResultMapper</scope><name>mapVerts</name></member>
      <member refid="classBooleanResultMapper_1a717b3f81e6ce08a1dd13f4d43c5490b3" prot="public" virt="non-virtual"><scope>BooleanResultMapper</scope><name>newFaces</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
